<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated informationFlow -->
      <package
            uri="http://tesoriero.org/cauce/informationFlow/1.0"
            class="ifmm.IfmmPackage"
            genModel="model/informationFlow.genmodel"/>
   </extension>

</plugin>
