<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated space -->
      <package
            uri="http://tesoriero.org/cauce/space/1.0"
            class="spmm.SpmmPackage"
            genModel="model/space.genmodel"/>
   </extension>

</plugin>
