<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated deployment -->
      <wizard
            id="demm.presentation.DemmModelWizardID"
            name="%_UI_DemmModelWizard_label"
            class="demm.presentation.DemmModelWizard"
            category="org.tesoriero.cauce.model.category.ID"
            icon="icons/full/obj16/DemmModelFile.gif">
         <description>%_UI_DemmModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated deployment -->
      <editor
            id="demm.presentation.DemmEditorID"
            name="%_UI_DemmEditor_label"
            icon="icons/full/obj16/DemmModelFile.gif"
            extensions="demm"
            class="demm.presentation.DemmEditor"
            contributorClass="demm.presentation.DemmActionBarContributor">
      </editor>
   </extension>

</plugin>
