<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated deployment -->
      <package
            uri="http://tesoriero.org/cauce/deployment/1.0"
            class="demm.DemmPackage"
            genModel="model/deployment.genmodel"/>
   </extension>

</plugin>
