<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated entityContext -->
      <package
            uri="http://tesoriero.org/cauce/entityContext/1.0"
            class="ecmm.EcmmPackage"
            genModel="model/entityContext.genmodel"/>
   </extension>

</plugin>
